<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
</head>
<br>
    <h3>Write New Chat..</h3>
    <form method="POST" action="/chats">
        <input placeholder="who are you?" name="from">
        <br>
        <textarea name="msg">Write your message here..</textarea>
        <br>
        <input placeholder="add receiver" name="to">
        <br>
        <button>Create Chat</button>
    </form>
    
</body>
</html>